{% extends "photoroll/base.html" %}
{% block content %}

<div class="row d-flex justify-content-md-center justify-content-lg-start">
    <div class="col-md-6 offset-lg-3">
        <form method="post">
            {% csrf_token %}
            <label for="EmailInput" class="form-label">Email address</label>
            {{ form.email }}
            <div id="EmailHelp" class="form-text">{{ form.email.help_text }}</div>

            <label for="UsernameInput" class="form-label mt-3">Username</label>
            {{ form.username }}
            <div id="UsernameHelp" class="form-text">{{ form.username.help_text }}</div>

            <label for="Password1Input" class="form-label mt-3">Password</label>
            {{ form.password1 }}
            <div id="PasswordHelp" class="form-text">{{ form.password1.help_text }}</div>

            <label for="Password2Input" class="form-label">Password confirmation</label>
            {{ form.password2 }}

            <label for="CaptchaInput_1" class="form-label mt-3">Captcha</label>
            {{ form.captcha }}

            <button type="submit" class="btn btn-primary mt-3 w-100">Sign up</button>
        </form>
    </div>
</div>
<div class="row d-flex justify-content-md-center justify-content-lg-start">
    <div class="col-md-6 offset-lg-3 mt-4">
        <p class="text-center">Already have an account? <a href="{% url 'login' %}">Log In</a></p>
    </div>
</div>

{% endblock content %}

{% block customjs %}
<script>
function enableCaptchaRefresh() {
    var refresh_link = document.createElement('a');
    refresh_link.setAttribute('id', 'captcha-refresh');
    refresh_link.setAttribute('class', 'btn btn-sm btn-outline-secondary mx-2');
    refresh_link.setAttribute('onclick', 'captchaRefresh()');
    document.querySelector('img.captcha').after(refresh_link);
    refresh_link.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/><path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/></svg>';
};

function captchaRefresh() {
    var request = new XMLHttpRequest();
    request.onreadystatechange = function() {
        if (request.readyState == XMLHttpRequest.DONE) {
            if (request.status == 200) {
                var data = JSON.parse(request.responseText);
                captcha_input = document.querySelector('input[name="captcha_0"]');
                captcha_input.value = data.key;
                captcha_image = document.querySelector('img.captcha');
                captcha_image.setAttribute('src', data.image_url);
            }
        }
    };
    request.open('GET', "/captcha/refresh/", true);
    request.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
    request.send();
};
enableCaptchaRefresh();
</script>
{% endblock customjs %}
