asgiref
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
Django
django-anymail
django-otp
django-ranged-response
django-resized
django-simple-captcha
django-storages
gunicorn
idna
jmespath
packaging
pillow
pillow-heif
pycparser
pypng
python-dateutil
qrcode
rapidfuzz
requests
s3transfer
six
sorl-thumbnail
sqlparse
typing_extensions
urllib3
