asgiref
boto3
botocore
certifi
charset-normalizer
Django
django-htmx
django-ranged-response
django-resized
django-simple-captcha
django-storages
gunicorn
idna
jmespath
packaging
Pillow
pillow-heif
python-dateutil
requests
s3transfer
six
sorl-thumbnail
sqlparse
urllib3
