asgiref
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
Django
django-anymail
django-ranged-response
django-resized
django-simple-captcha
django-storages
gunicorn
idna
jmespath
packaging
pillow
pillow-heif
pycparser
python-dateutil
requests
s3transfer
six
sorl-thumbnail
sqlparse
urllib3
