<!DOCTYPE html>
<html lang="en">
<head>
    {% include "photoroll/head.html" %}
    {% block customcss %}{% endblock customcss %}
</head>
<body>
    {% include "photoroll/navbar.html" %}
    <main class="container">
        {% if messages %}
        <div class="row messages">
        {% for message in messages %}
            <div class="col-12">
                <div role="alert" class="alert alert-{{ message.tags }} alert-dismissible fade show">{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        </div>
        {% endif %}

        {% block content %}{% endblock content %}

        {% block pagination %}
        {% if is_paginated %}
        <div class="pagination justify-content-center mt-5">
            <nav aria-label="Pagination">
                <ul class="pagination pagination-lg">
                <!-- First and previous links -->
                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number == 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page=1">
                            <span aria-hidden="true">{{ page_obj.previous_page_number }}</span>
                        </a>
                    </li>
                    {% elif page_obj.previous_page_number == 2 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page=1">
                            <span aria-hidden="true">1</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">{{ page_obj.previous_page_number }}</span>
                        </a>
                    </li>
                    {% elif page_obj.previous_page_number == page_obj.paginator.num_pages|add:'-1' %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page=1">
                            <span aria-hidden="true">1</span>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span aria-hidden="true">...</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number|add:'-1' }}">
                            <span aria-hidden="true">{{ page_obj.previous_page_number|add:'-1' }}</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">{{ page_obj.previous_page_number }}</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page=1">
                            <span aria-hidden="true">1</span>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span aria-hidden="true">...</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">{{ page_obj.previous_page_number }}</span>
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="">{{ page_obj.number }}</a>
                </li>
                <!-- Next and last links -->
                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                                <span aria-hidden="true">{{ page_obj.next_page_number }}</span>
                            </a>
                        </li>
                    {% elif page_obj.next_page_number == page_obj.paginator.num_pages|add:'-1' %}
                        <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                                <span aria-hidden="true">{{ page_obj.next_page_number }}</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">
                                <span aria-hidden="true">{{ page_obj.paginator.num_pages }}</span>
                            </a>
                        </li>
                    {% elif page_obj.next_page_number == 2 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page=2">
                                <span aria-hidden="true">2</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page=3">
                                <span aria-hidden="true">3</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span aria-hidden="true">...</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">
                                <span aria-hidden="true">{{ page_obj.paginator.num_pages }}</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                                <span aria-hidden="true">{{ page_obj.next_page_number }}</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span aria-hidden="true">...</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">
                                <span aria-hidden="true">{{ page_obj.paginator.num_pages }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                </ul>
            </nav>
        </div><!-- end pagination -->
        {% endif %}
        {% endblock %}
    </main>
    {% include "photoroll/footer.html" %}
    {% include "photoroll/js.html" %}
    {% block customjs %}{% endblock customjs %}
</body>
</html>
