{% extends "photoroll/base.html" %}

{% block content %}
<div class="row d-flex">
    <div class="col-12">
        <h1>Search by location</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <p>Press the button below to search vending machines based on your current location. Your browser may prompt you for approval to allow HANBAIKI.FYI to access your location. By default, vending machines in a radius of approximately 500 meters are displayed. If you do not want to share your location, you may <a href="{% url 'archive' %}">search by zip code or city</a> instead.</p>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6 offset-lg-3">
        <button id="gpsButton" onclick="getCurrentPosition()" class="btn btn-lg btn-primary w-100">
        Search
        </button>
    </div>
</div>
<div class="row d-flex flex-wrap" id="searchResults" hx-trigger="receiveGpsData" hx-swap="innerHTML"></div>
{% endblock content %}

{% block customjs %}
<script>
    const options = {
        enableHighAccuracy: true,
        timeout: 3000,
        maximumAge: 0,
    };

    function resetButton(){
        document.getElementById("gpsButton").innerHTML = "Search";
        document.getElementById("gpsButton").classList.remove("disabled");
    }

    function success(pos) {
        const crd = pos.coords;
        document.getElementById("searchResults").setAttribute("hx-get", "/posts/search/location/" + crd.latitude + "/" + crd.longitude + "/");
        htmx.process(htmx.find("#searchResults"));
        htmx.trigger("#searchResults", "receiveGpsData");
        resetButton();
    }

    function error(err) {
        resetButton();
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    function getCurrentPosition(err) {
        document.getElementById("gpsButton").classList.add("disabled");
        document.getElementById("gpsButton").innerHTML = "<div class='spinner-border text-light' role='status'><span class='visually-hidden'>Loading...</span></div>";
        navigator.geolocation.getCurrentPosition(success, error, options);
    }
</script>
{% endblock customjs %}