{% load static %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="author" content="Hans Christian Rudolph"/>
<meta name="description" content=""/>
<title>Vending Machines of Japan</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css"/>