{% load base_path %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
        <a class="navbar-brand" href="/">Vending Machines of Japan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link {% if request.path|base_path == '' %}active{% endif %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.path|base_path == 'filter' %}active{% endif %}" href="#" id="navbarDropdownFilter" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Filter by
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownFilter">
                        <li><a class="dropdown-item" href="{% url 'current_location' %}">Current location</a></li>
                        <li><a class="dropdown-item" href="{% url 'tag_list' %}">Tags</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'tag_list' %}" class="nav-link {% if request.path|base_path == 'tags' %}active{% endif %}">Tags</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'archive' %}" class="nav-link {% if request.path|base_path == 'archive' %}active{% endif %}">Archive</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'upload' %}" class="nav-link {% if request.path|base_path == 'upload' %}active{% endif %}">Upload</a>
                </li>
                {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi d-block mx-auto mb-1 bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link text-center {% if request.path|base_path == 'accounts' %}active{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi d-block mx-auto mb-1 bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                        Log In
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>