{% extends "photoroll/base.html" %}

{% block content %}
<div class="row d-flex">
    <div class="col-12">
        <h1>Tags</h1>
    </div>
</div>

<div class="row">
    {% for tag_group in object_list %}
    <div class="col-lg-6 mt-sm-3">
        <ul class="list-group">
            {% for tag in tag_group %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'posts_by_tag' tag.slug %}">{{ tag.name }}</a>
                <span class="badge bg-primary rounded-pill">{{ tag.vendingmachine_set.count }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% empty %}
    <div class="col-lg mt-sm-3">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                No tags yet.
            </li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock content %}