{% extends "photoroll/base.html" %}

{% block content %}
<div class="row d-flex">
    <div class="col-12">
        <h1>Upload multiple files</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-lg-3">
        <div class="alert alert-warning" role="alert">
            <span class="fw-bold">Please note:</span> Uploaded images will be automatically analyzed for GPS Information. Avoid uploading any sensitive information that you don't want to share publicly.
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.img }}
            <!-- <input id="myFileInput" class="form-control" type="file" accept="image/*;capture=camera"> -->
            <button type="submit" class="btn btn-primary mt-3 w-100">Upload</button>
        </form>
    </div>
</div>
<div class="row d-flex justify-content-md-center justify-content-lg-start  mt-4">
    <div class="col-md-6 offset-lg-3">
        <p class="text-center">Alternatively, <a href="{% url 'upload_camera' %}">take and upload a photo from your camera.</a></p>
    </div>
</div>

{% endblock content %}
